<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Ayman Abd El-latief</h3>
      </div>

      <div class="text-center">@ayman</div>
      <div class="text-center">
        <a href="https://github.com/Ayman-Abdellatief"   target="_blank">Ayman-Abdellatief</a>
      </div>
    </div>
  </div>
</div>